<%- include ./partials/header.ejs %>
    <div class="container" style="flex-direction: column;">
      <div class=" jumbotron round chat" style="padding:0">
        <nav class="navbar navbar-container nav-wrapper navbar-light navbar-expand-md bg-faded justify-content-center head1 name" >
          <div class="">
            <a href="/" class="navbar-brand d-flex ml-auto w-100" style="font-size:1.6rem;">Chat Bot</a>
          </div>
        </nav>
      </div>
      <div class="jumbotron round" style="height:20vh;padding-top:0; margin-bottom:0; flex-direction: row" >

        <div class="form-group">
          <form id="frmUploader" enctype="multipart/form-data" action="api/Upload/" method="post" style="display:inline">
            <textarea class="form-control" id="textbox" rows="1" name="chat"> </textarea>
                          <input type="file" accept="image/*" name="imgUploader" multiple style="display:inline">
                <!-- <input type="file" name="imgUploader" multiple /> -->
                <button type="submit" class="btn btn-primary mb-2" name="submit" id="btnSubmit" value="Upload"> Submit </button>
          </form>
        </div>

      </div>
    </div>


</body>
</html>
