<%- include ./partials/header.ejs %>
    <div class="container" style="flex-direction: column;">
      <div class="center">
        <h1> Analyze tweets by searching a word </h1>
      </div>
      <div class="jumbotron round white" style="height:30vh; margin-bottom:0; flex-direction: row" >

        <form action="/twitter" method="post">
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Search twitter keywords" name="search">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
      <div class="jumbotron round" id="response" style="padding-top:0; margin-bottom:0; flex-direction: row" >
        <h3> This is tweet analyzer. </h3> <p> We wanted to find out if there was a trend amongst people who tweeted certain keywords.
          How to use this app. Search a keyword, and we'll find multiple tweets with that keyword,  using image recognition we determine likeness
          within the profile pictures of the people tweeting that certain keyword. As well we try to find the average tone of the tweet.
          For example, people who tweet maga are 50% serious and angry.
           We created this app using IBM Watson's tone analyzer to determine the tone of a tweet and Clarfai's image recognition API
          determine the characteristics of a profile picture on twitter </p>
        <!-- <div class="form-group">
          <label for="text"> </label>
          <form id="text-input" action="/watson/text-input" method="post" style="display:inline">
              <input class="form-control" type="text" name="tone" placeholder = "text to analyze">
              <button type="submit" class="btn btn-primary mb-2">Analyze Text</button>
          </form>
        </div> -->

      </div>

    </div>


</body>
</html>
